.animated-masterhead{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1054%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(37%2c 164%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M720 663.66C821.69 658.9 914.65 618.27 991.52 551.52 1075.4 478.7 1159.48 391.04 1161.9 280 1164.35 167.49 1081.39 77.73 1003.63-3.63 923.35-87.61 836.01-176.31 720-182.37 599.67-188.66 484.89-125.21 405.16-34.84 329.88 50.47 308.97 166.27 312.07 280 315.06 390.06 341.65 502.73 421.85 578.15 500.16 651.79 612.63 668.69 720 663.66' fill='rgba(0%2c 149%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M720 528.25C785.8 525.17 845.95 498.88 895.69 455.69 949.97 408.57 1004.37 351.85 1005.93 280 1007.52 207.2 953.84 149.12 903.52 96.48 851.58 42.14 795.06-15.26 720-19.18 642.14-23.25 567.87 17.8 516.28 76.28 467.57 131.48 454.04 206.41 456.04 280 457.98 351.21 475.18 424.12 527.08 472.92 577.75 520.57 650.52 531.5 720 528.25' fill='rgba(117%2c 197%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M720 392.84C749.91 391.44 777.25 379.49 799.86 359.86 824.53 338.44 849.26 312.66 849.97 280 850.69 246.91 826.29 220.51 803.42 196.58 779.81 171.88 754.12 145.79 720 144.01 684.61 142.16 650.85 160.82 627.4 187.4 605.26 212.49 599.11 246.55 600.02 280 600.9 312.37 608.72 345.51 632.31 367.69 655.34 389.35 688.42 394.32 720 392.84' fill='rgba(117%2c 197%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1054'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.welcome-logo {
    width: 15rem;
    height: 10rem;
    display: block;
}

@media (min-width: 0px) {
    .text-heading {
        font-size: 2.75rem;
        line-height: 2.75rem;
    }
    
    .text-subheading {
        font-size: 1.25rem;
    }
}
@media (min-width: 768px) {
    
}
@media (min-width: 992px) {
    .text-heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }
    
    .text-subheading {
        font-size: 1.5rem;
    }
}
@media (min-width: 1200px) {
    
}