@import './Variables.scss';

.article {
    position: relative;
    .article-image{
        img{
            transition: all .2s ease-in-out;
        }
    }
    &:hover{
        cursor: pointer;
        img{
            transform: scale(1.25);
            overflow: hidden;
        }
    }
}

.article-overlay {
    position: absolute;
    z-index: 10;
    -webkit-box-shadow:  inset 0px -6rem 31px -17px #000000fa; 
    box-shadow: inset 0px -6rem 31px -17px #000000fa;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    top: 0;
    .title {
        color: $white;
    }
}