@import './Variables.scss';


@each $name,$color in $colors {
    .bg-#{$name} { background-color: $color;}
    .border-#{$name} { border-color: 1px solid $color;}
    
    @for $i from 1 to 10 {
        .text-#{$name}-d-#{$i * 10} {color: darken($color, $i * 10) !important;}
        .text-#{$name}-l-#{$i * 10} {color: lighten($color, $i * 10) !important;}
        .thover-#{$name}-d-#{$i * 10}:hover {color: darken($color, $i * 10) !important;}
        .thover-#{$name}-l-#{$i * 10}:hover {color: lighten($color, $i * 10) !important;}
    }
}


.fluid {
    width:100%;
    height:100%;
}
.app{
    width: 100vw;
    height: 100vh;
}

@media (min-width: 0px) {
    .app-container {
        padding:1rem;
        padding-top: $navbar-height-collapsed;
        height: 100vh;
        width: 100vw;
    }
}
@media (min-width: 768px) {
    .app-container {
        padding:2rem;
        padding-top: $navbar-height;
        height: 100vh;
        width: 100vw;
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {
    
}